<div class="row row justify-content-center align-self-center">
  <div [hidden]="submitted" style="width: 500px;" >
    <h3 class = "text-center">Add Invoice Information</h3>
    <div class="col-md-12">
      <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">

        <div class="form-group mt-2">
          <label for="name">name</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="invoiceForm.value.id" name="section"/>
        </div>
        <div class="form-group mt-2">
        <label for="contact">contact</label>
        <input type="text" class="form-control" id="contact" required [(ngModel)]="invoiceForm.value.customercontact" name="section"/>
      </div>
        <div class="form-group mt-2">
          <label for="address">address</label>
          <input type="text" class="form-control" id="address" required [(ngModel)]="invoiceForm.value.customeraddress" name="section"/>
        </div>


        <!-- Items -->
        <h5 class="text-center">Items:</h5>
        <div formArrayName="item">
          <div *ngFor="let book of invoiceForm.value.bookes; let i = index" class="form-group mt-3 mb-3">
            <div formGroupName="{{ i }}" class="input-group">
              <span class="input-group-text" style="width: 145px;">Item no</span>
              <select formControlName="itemno" type="text" class="form-control">
                <option *ngFor="let book of books| async;"
                        [value]=[book.id]>{{ book.id }}
                </option>
              </select>

              <span class="input-group-text" style="width: 145px;">Item Name</span>
              <select formControlName="itemname" type="text" class="form-control">
                <option *ngFor="let book of books| async;"
                        [value]=[book.title]>{{ book.title }}
                </option>
              </select>

              <span class="input-group-text" style="width: 145px;">Country</span>
              <select formControlName="testsortname" type="text" class="form-control">
                <option *ngFor="let book of books| async;"
                        [value]=[book.country]>{{ book.country }}
                </option>
              </select>

              <span class="input-group-text" style="width: 145px;">language</span>
              <select formControlName="samname" type="text" class="form-control">
                <option *ngFor="let book of books| async;"
                        [value]=[book.language]>{{ book.language }}
                </option>
              </select>

              <span class="input-group-text" style="width: 145px;">Unit Price</span>
              <select formControlName="unitprice" type="text" class="form-control">
                <option *ngFor="let book of books| async;"
                        [value]=[book.price]>{{ book.price }}
                </option>
              </select>

              <button type="button" class="btn btn-danger" (click)="removeItems(i)">X
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- add Medicine Button -->
        <div class="col btn-group">
          <button (click)="addBooks()" type="button" class="btn btn-dark m-1">Add Items<i
            class="fas fa-plus ml-1"></i>
          </button>
        </div>

        <div class="input-group mt-3 mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" style="width: 145px;">Quantity</span>
          </div>
          <input formControlName="quantity" type="number" class="form-control">
        </div>

        <div class="input-group mt-3 mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" style="width: 145px;">Sales Price</span>
          </div>
          <input formControlName="salesprice" type="number" class="form-control">

        </div>
        <button type="submit" class="btn btn-primary" >Save Invoice</button>
        <button type="button" class="btn btn-danger ml-2" (click)="cancelAdd()">Cancel</button>

      </form>

    </div>
    <div [hidden]="!submitted">
    </div>
  </div>
</div>
