<div class="card shadow" style="border-radius: 10px;">
  <div class="card-body">
    <div class="row">
<!--      ffff-->
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img
          src="assets/mcms.PNG"
          class="img-fluid" alt="">
        <img
          src="https://media.istockphoto.com/vectors/people-working-together-hackathon-vector-flat-illustration-work-with-vector-id1210803911?k=20&m=1210803911&s=612x612&w=0&h=dYcMgo2q8lcQV-v2fFnlvO6ZzeMrPEi2uqCG_FZNpkA="
          class="img-fluid" alt="" style="max-height: 500px">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h3 class="text-info text-center">
          <i class="bi bi-code-square"></i> vInternship MCMS Hackathon 2022 <i class="bi bi-code-square"></i>
        </h3>
        <hr>
        <p>
          Dear Interns, welcome to the final hackathon event! Looks like you were able to setup the project properly.
          Today's event is designed to test all the skills, knowledge, technologies & the experiences that you have
          gained from the last 3 months of hard work. Don't worry all the tasks of the hackathon are based upon the work
          you are already familiar with! If you have paid attention and worked sincerely up until now, you will totally
          ace this hackathon! <b class="text-success">Best of luck!</b><br>
          <b>Some key information about the hackathon: </b>
        </p>
        <hr>
        <p>
          <b><i class="bi bi-play-circle"></i> Start: </b> 10:30 AM <br>
          <b><i class="bi bi-stop-circle"></i> End: </b> 02:30 PM <br>
          <b><i class="bi bi-stopwatch"></i> Duration: </b> 4 hours <br>
          <b><i class="bi bi-easel"></i> Presentation: </b> Show case your work before 3:00 PM
        </p>
        <hr>
        <p><b class="text-primary"><i class="bi bi-check-square"></i> Allowed: </b> <br>
          You can use any resource (google, stackoverflow, github, documentations, prior projects). Totally open book!
          <br>
          <br><b class="text-danger"><i class="bi bi-x-square"></i> Not Allowed: </b> <br>
          Don't copy another interns work!<br>
          You must attend the hackathon yourself!
        </p>
        <hr>
      </div>
    </div>
  </div>
</div>
